.menu {
    display: flex;
    justify-content: space-between;

    align-items: center;

    img {
        width: 50px;
        margin: 10px;
    }

    ul {
        list-style-type: none;
        display: flex;
        gap: 1em;

        a {
            text-decoration: none;
            color: purple;
            text-transform: uppercase;
            text-decoration: none;
            border: 2px solid purple;
            padding: 10px 20px;
            font-size: 17px;
            font-weight: bold;
            background: transparent;
            position: relative;
            transition: all 1s;
            overflow: hidden;
        }

        a::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 0;
            top: 0;
            left: 0;
            transform: skewX(0deg);
            background-color: purple;
            z-index: -1;
            transition: all 1s;
        }

        li:hover a {
            color: white;
        }

        a:hover::before {
            width: 100%;
        }

    }

}

.desplegar {
    display: none;
}

#menudesplegar {
    display: none;
}

.hamburguesa {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    margin-right: 12px;

    div {
        width: 100%;
        background-color: purple;
        height: 1px;
        margin: 3px;
    }
}



/*
  
  .li {
      color: purple;
      text-transform: uppercase;
      text-decoration: none;
      border: 2px solid purple;
      padding: 10px 20px;
      font-size: 17px;
      font-weight: bold;
      background: transparent;
      position: relative;
      transition: all 1s;
      overflow: hidden;
    }
   
   */

@media (max-width: 1200px) {
    .menu ul {
        flex-direction: column;
        display: none;
        gap:2em;
    }

    .desplegar {
        display: block;
    }

    .menu {
        align-items: flex-start;
    }

    .menu:has(#menudesplegar:checked) ul {
        display: flex;
    }
}

/*

.btn {
    color: purple;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid purple;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
  }
 
  .btn:hover {
    color: white;
  }
 
  .btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: purple;
    z-index: -1;
    transition: all 1s;
  }
 
  .btn:hover::before {
    width: 160%;
  }
 
 .cajamenu{   
 
    justify-content:center ;
    display: flex;


    align-items: center;
    max-width: 90%;

  }

  .barra{
    width: 3%;
    
   
  }

  
  .logo{
    width: 2.5%;
    padding-right: 1.5%;
   
  }



  ul{
    list-style: none;
 
  }
  li{
    padding: 0% 1% 0% 0% ;
  }
 
   img {
    width: 5%;
  }
 



  @media (max-width: 1024px) {
      .cajamenu {
          width: 90%;
          justify-content: space-between;
      }
   
      .menu {
          flex-direction: column;
      }
   
      .botones{
        display: none;
      }
  }


.cajamenu:has(.check:checked) .botones {
       
        display: flex;
    }
*/